body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.menu-sidebar.custom-menu {
    background: #1e1e2d;
}

.menu-sidebar.custom-menu .logo {
    background: #1a1a27;
    border: none;
    box-shadow: none;
}

.custom-menu .navbar-sidebar .navbar__list li a {
    color: #a2a3b7;
    font-weight: 300;
}

.custom-menu .navbar-sidebar .navbar__list li a:hover {
    color: #ffffff;
}

.custom-menu .navbar-sidebar .navbar__list li.active > a {
    color: #ffffff;
}

.title-7 {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}

.custom-table table.dataTable thead th,
table.dataTable tfoot th {
    font-weight: 300;
    border-bottom: 1px solid #2d2d3c;
}

.custom-table .dataTables_wrapper .dataTables_filter input {
    border: 1px solid #d9d9d9;
    border-radius: .25rem;
}

.custom-table .dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0 5px;
}

.dataTables_wrapper .dataTables_paginate {
    padding-top: 0.755em;
}

.table {
    margin: 0;
}

.table-responsive.table--no-card {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}

.table-earning thead th {
    background: #4a4a63;
    font-size: 16px;
    color: #fff;
    vertical-align: middle;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1;
    padding: 22px 40px;
    white-space: nowrap;
}

.table-earning thead th.text-right {
    padding-left: 15px;
    padding-right: 65px;
}

.table-earning tbody td {
    color: #000000;
    padding: 12px 40px;
    white-space: nowrap;
}

.table-earning tbody td.text-right {
    padding-left: 15px;
    padding-right: 65px;
}

.table-earning tbody tr:hover td {
    color: #555;
    cursor: pointer;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fff;
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: #f5f5f5;
}

.table-top-countries tbody td {
    white-space: nowrap;
    font-size: 14px;
    color: #fff;
    padding: 14px 5px;
    border-top: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.table-top-countries tbody tr:last-child td {
    border-bottom: none;
}

.table-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.table-dark {
    color: #fff;
    background-color: #343a40;
}

.table-dark th,
.table-dark td,
.table-dark thead th {
    border-color: #454d55;
}

.table-dark.table-bordered {
    border: 0;
}

.table-dark.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 0.05);
}

.table-dark.table-hover tbody tr:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.075);
}

table.dataTable,
table.dataTable th,
table.dataTable td {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

table, th, td {
    border: 1px solid #EFF0F3;
    /*background: rgb(205, 201, 201);*/
    font-size: .91em;
}

.table_with_custom_header {
    /*background: #f6f3f3;*/
    background: white;
    /*border: 1px solid;*/
    padding: 10px;
    margin-bottom: 20px;
    opacity: .8;
}

.dataTables_wrapper .dataTables_filter input {
    background-color: white;
}

.dataTables_wrapper .dataTables_length select {
    background-color: white;
}

.form-header {
    background: #2a8fee;
    color: white;
}
.form-bg {
    opacity: .8;
}
